* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.calculator {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 100vh;
    min-height: 475px;
    align-items: center;
    background-color: rgba(178, 218, 255, 0.3);
    border-radius: 40px;
}

.calculator > * {
    padding: 5%;
}

.calc-display {
    width: 90%;
    height: 20%;
    text-align: right;
}

button {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 1rem;
    border: none;
}

.calc-keys {
    display: flex;
}

.calc-keys > * > button {
    margin-bottom: 0.5rem;
}